@import "variables.scss";
/* dark */
$primary: $primary80;
$on-primary: $primary20;
$primary-container: $primary30;
$on-primary-container: $primary90;
$secondary: $secondary80;
$on-secondary: $secondary20;
$secondary-container: $secondary30;
$on-secondary-container: $secondary90;
$tertiary: $tertiary80;
$on-tertiary: $tertiary20;
$tertiary-container: $tertiary30;
$on-tertiary-container: $tertiary90;
$error: $error80;
$error-container: $error30;
$on-error: $error20;
$on-error-container: $error90;
$background: $neutral0;
$on-background: $neutral90;
$surface: $neutral10;
$on-surface: $neutral90;
$surface-variant: $neutral-variant30;
$on-surface-variant: $neutral-variant80;
$outline: $neutral-variant60;
$inverse-on-surface: $neutral10;
$inverse-surface: $neutral90;
$inverse-primary: $primary40;
$shadow: $neutral0;
$surface-tint: $primary80;
$outline-variant: $neutral-variant30;
$scrim: $neutral0;
