.layout {
  background-color: var(--sf-2);
  border: 2px dashed var(--primary);
  border-radius: 2vmin;
  color: var(--on-surface);
  max-height: fit-content;
  box-shadow: var(--dp3);
  text-align: center;
  box-sizing: border-box;
  padding: 2vmin;
  display: grid;
  grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    'sub title title .'
    '. . . .'
    '. content content .'
    '. content content .'
    '. link link .'
    '. . . .';
  @media (max-width: 400px){
    display: grid;
      grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 0px 0px;
      grid-template-areas:
        "title title title title . sub sub"
        ". content content content content content ."
        ". . link link link . .";
  }
  .dummytxt {
    height: 6px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
  }
  .title {
    color: var(--primary);
    grid-area: title;
    font-family: var(--font-poiret);
  }
  .content {
    text-align: justify;
    grid-area: content;
    color: var(--on-background);
  }
  .link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      '. . .'
      '. icon .'
      '. . .';
    grid-area: link;
    height: auto;
    box-shadow: var(--dp-3);
    border-radius: 0.5rem;
    padding: 0 5vh;
    & > span {
      margin: 0;
      grid-area: icon;
    }
    &:link,
    &:visited {
      background-color: var(--primary-container);
      color: var(--on-primary-container);
      box-shadow: var(--dp2);
      & > p {
        color: var(--on-primary-container);
      }
      & > span {
        color: var(--on-tertiary-container);
        font-variation-settings: 'FILL' 0, 'wght' 300,
          'GRAD' 0, 'opsz' 24;
      }
    }

    &:hover,
    &:focus {
      background-color: var(--primary);
      box-shadow: var(--dp10);
      color: var(--on-primary);
      & > p {
        color: var(--on-primary);
        font-weight: 800;
      }
      & > span {
        font-variation-settings: 'FILL' 1, 'wght' 600,
          'GRAD' 200, 'opsz' 48;
        color: var(--on-primary);
      }
    }
    &:focus {
      box-shadow: var(--dp20);
      border: 2px dashed var(--primary-container);
    }
    &:active {
      background-color: var(--sf-5);
      box-shadow: var(--dp8);
    }
    @media screen and (max-width: 1000px) {
      flex-flow: row nowrap;
      justify-content: center;
      padding: 1vmin;
    }
  }
}
