.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
  width: 100%;
  gap: 2vmin;
  grid-auto-flow: row;
  grid-template-areas: "header header header header header header" "sidenav sidenav body body body body" "sidenav sidenav body body body body" "sidenav sidenav body body body body" "sidenav sidenav body body body body" "sidenav sidenav body body body body" "sidenav sidenav body body body body" "footer footer footer footer footer footer";
  background-color: var(--background);
  box-sizing: border-box;
  box-shadow: var(--dp2);
  color: var(--on-background);
}
.container .SearchBar {
  justify-self: center;
  align-self: center;
  grid-area: SearchBar;
  background-color: var(--sf-1);
  box-sizing: border-box;
  box-shadow: var(--dp3);
  color: var(--on-surface);
  border: 2px dashed var(--secondary);
  border-radius: 2vmin;
}
.container .NavButton {
  grid-area: NavButton;
}

.body {
  display: flex;
  flex-flow: column nowrap;
  grid-area: body;
  background-color: var(--background);
  box-sizing: border-box;
  box-shadow: var(--dp1);
  color: var(--on-surface);
  border-radius: 2vmin;
}

.procesossearchbox {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px 0px;
  grid-template-areas: ". ." ". ." ". ." ". .";
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
  grid-area: sidenav;
  background-color: var(--primary-container);
  box-sizing: border-box;
  box-shadow: var(--dp3);
  color: var(--on-surface);
  border: 2px dashed var(--secondary);
  border-radius: 2vmin;
}

.sidenav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vmin;
  grid-auto-flow: row;
  justify-content: center;
  align-content: start;
  justify-items: stretch;
  align-items: center;
  grid-area: sidenav;
  box-sizing: border-box;
  padding: 2vmin;
  box-shadow: var(--dp2);
  background-color: var(--sf-2);
  overflow-y: clip;
  border-radius: 2vmax;
  flex-flow: column nowrap;
}
.sidenav:hover,
.sidenav:focus {
  overflow-y: scroll;
}

.footer {
  grid-area: footer;
  background-color: var(--tertiary-container);
  color: var(--on-tertiray-container);
  box-sizing: border-box;
  box-shadow: var(--dp3);
  border: 2px dashed var(--tertiary);
  border-radius: 2vmin;
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1vmin;
  grid-auto-flow: row;
  grid-template-areas: "NavButton SearchBar . . . ";
  grid-area: header;
  flex-flow: row nowrap;
  box-shadow: var(--dp3);
  justify-content: space-evenly;
  align-items: stretch;
  background-color: var(--primary);
}
.header .button,
.header .home {
  border: 0;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  width: 100%;
  flex-basis: auto;
}
.header .button span,
.header .home span {
  width: 100%;
}
.header .button:hover,
.header .button:active,
.header .home:hover,
.header .home:active {
  background-color: var(--on-secondary);
  color: var(--secondary);
}
@media screen and (max-width: 1000px) {
  .header {
    top: auto;
    bottom: 0;
  }
}

.main {
  box-sizing: border-box;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  padding-top: 5vh;
  overflow: hidden;
  grid-template-areas: "sidenav sidenav art art art art" "sidenav sidenav art art art art" "sidenav sidenav art art art art" "sidenav sidenav art art art art";
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
@media screen and (max-width: 1000px) {
  .main {
    padding-bottom: 5vh;
    padding: 0;
    padding-top: 0;
  }
}
.main .container {
  grid-area: art;
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  background-color: var(--secondary-container);
  border: 2px dashed var(--secondary);
  border-radius: 2vmax;
  color: var(--on-surface);
  box-shadow: var(--dp3);
  text-align: center;
  box-sizing: border-box;
  padding: 2vmin;
}

.section {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  background-color: var(--surface-variant);
  padding: 2vmin;
  text-align: center;
}

.article {
  display: flex;
  flex-flow: column nowrap;
  gap: 2vmin;
  background-color: var(--surface);
  padding: 2vh;
  box-shadow: var(--dp5);
}
.article > .nombre {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
.article > .block {
  color: var(--on-surface);
}

.procesos {
  display: flex;
  flex-flow: row nowrap;
}

.link {
  margin: 0;
  min-width: 5rem;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: var(--dp-3);
  justify-content: space-evenly;
  border-radius: 0.5rem;
  padding: 0 5vh;
}
.link > span {
  margin: 0;
}
.link:link,
.link:visited {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  box-shadow: var(--dp2);
}
.link:link > p,
.link:visited > p {
  color: var(--on-primary-container);
}
.link:link > span,
.link:visited > span {
  color: var(--on-tertiary-container);
  font-variation-settings: "FILL" 0, "wght" 300,
    "GRAD" 0, "opsz" 24;
}
.link:hover,
.link:focus {
  background-color: var(--primary);
  box-shadow: var(--dp10);
  color: var(--on-primary);
}
.link:hover > p,
.link:focus > p {
  color: var(--on-primary);
  font-weight: 800;
}
.link:hover > span,
.link:focus > span {
  font-variation-settings: "FILL" 1, "wght" 600,
    "GRAD" 200, "opsz" 48;
  color: var(--on-primary);
}
.link:focus {
  box-shadow: var(--dp20);
  border: 2px dashed var(--primary-container);
}
.link:active {
  background-color: var(--sf-5);
  box-shadow: var(--dp8);
}
@media screen and (max-width: 1000px) {
  .link {
    flex-flow: row nowrap;
    justify-content: center;
    padding: 1vmin;
  }
}

/*# sourceMappingURL=layout.module.css.map */
